.container{
    background-color: rgb(4, 81, 83);
    color:aliceblue;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;    
}
.topBar{
    width: 100vw;
    background-color: rgb(17, 231, 238);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: inherit;
    padding: 0;
    height: 10vh;
    overflow: auto;
    text-align: start;
}
.topBar h2,h3 {
    margin: 0;
    padding:3px;
    /* text-align: center; */
}
#userMessage {
    width: 50%;
    margin: 0;
    margin-left:7px;
    border-radius: 25px;
    padding-left: 25px;
    caret-color: white;
    text-align: start;
}

#userMessage, :focus{
    outline: none;
    overflow:scroll;
    border-radius: 25px ;
}
.leaveRoom{
    padding: 0;
    color:white;
    font-family: inherit;
}

.sendMessage{
    margin: 0;    
    width: 10%;
    /* max-width: 1em; */
    margin-left: 2px;
    margin-right:2px;
    font-family: inherit;
    color:white;
    padding: 0;
}


.chatbox{
    position:absolute;
    top: 10vh;
    bottom: 0;
    display:  flex;
    align-items: flex-end;
    width: 100vw;
    min-width: 300px;
    background-color: rgb(1, 51, 51);;
    color:white;
    overflow: auto;
}

.centerParagraph{
    text-align: center;

    background-color:rgb(1, 51, 51);
    padding:2px;
}

.message{
    color:white;
    margin:1em;
    margin-top: 0;
}

.allMessages {
    height: 100%;
}
.controls{
    display: flex;
    align-items: center;
    background-color: rgb(1, 51, 51);
    font-family: 'Poppins', sans-serif;
    min-height: 40px;        
}
.bottom0{
    width:100vw;
    bottom: 0;
    margin-bottom: 7px;
    
}
.userName{
    margin-bottom: 0;
}
button{
    background-color: rgb(4, 126, 163);
    height: 25px ;
    width:  10%;
    min-width: fit-content;
    border-radius: 25px;
    border-style: none;
    padding: 4px;
}