.whiteText{
    color:white;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(1, 51, 51);
}

.wrongInput{
    height:20px;
    width:max-content;
    color:#b35a59;
    background-color: #f0c1c1;
    padding:5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    
}

.login_register{
    width:fit-content;
    height:fit-content;
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


.login_button{
    width:100px;
    padding-right:3px;
    padding-left:3px;
    margin-right:5px;
    height:25px;
    margin-left:5px
}
.login_button:focus {
    outline: none;
}

.register_button{
    width:100px;
    padding-right:3px;
    padding-left:3px;
    margin-right:5px;
    margin-left:5px;
    height:25px;
}
.register_button:focus {
    outline: none;
}
